@import "vendor/bootstrap.min";

@import "partials/base";

body { background-color: $quinary; }
h1 { color: $secondary; }
.form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.btn-primary { 
	background-color: $secondary;
	@include transition(background-color 0.5s ease);
	&:hover { background-color: lighten($secondary, 10%); }
}

@import "partials/login";
@import "partials/chat";
@import "partials/todo";

