@import "vendor/bootstrap.min";

@import "partials/base";

body { background-color: $quinary; }
h1 { color: $primary; }
.form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.btn-primary { background-color: $tertiary; &:hover { background-color: lighten($tertiary, 10%); }}

@import "partials/login";
@import "partials/chat";
@import "partials/todo";

