/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

.form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}

.chat-wrap {
	border: 3px solid grey;
	@include border-radius(5px);
	height: 200px;
	margin: 20px 0;
	overflow-y: scroll;
	width: 100%;
	#chatEntries {
		padding: 0 10px;
	}
	.username {
		font-weight: 500;
		color: darken(red, 15%);
	}
}
.chat-controls {
	padding-left: 3px;
}
.todo-wrap {
	height: 200px;
	margin: 20px 0;
	.todo-list {
		height: 166px;
		overflow-y: scroll;
		ul {
			list-style: none;
			padding: 0;
			.complete {
				color: grey;
			}
			.delete {
				background-color: red;
				cursor: pointer;
				float: right;
				height: 20px;
				width: 20px;
			}
		}
	}
}