<%- include header %>
			<div class="col-sm-8">
				<div class="chat-wrap">
					<div id="chatEntries"></div>
				</div>
				<div id="chatControls">
					<input type="input" id="messageInput" class="form-control">
					<button id="submit" type="button" class="btn btn-primary">Send</button>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="todo-wrap">
					<select>
						<option>Global</option>
						<option>Dave</option>
						<option>George</option>
						<option>Michael</option>
					</select>
					<ul class="todo-list">
						<li><input type="checkbox"><label>Build Chat App</label></li>
					</ul>
				</div>
				<div id="todoControls">
					<input type="input" id="todoInput" class="form-control">
					<button id="submit" type="button" class="btn btn-primary">Send</button>
				</div>
				</div>
			</div>
<%- include footer %>