<%- include header %>
	<div class="col-sm-8">
		<div class="chat-wrap">
			<div id="chatEntries"></div>
		</div>
		<div id="chatControls">
			<input type="input" id="messageInput" class="form-control">
			<button id="msgSubmit" type="button" class="btn btn-primary">Send</button>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="todo-wrap">
			<select class="form-control">
				<option value="Global">Global</option>
				<option value="Dave">Dave</option>
				<option value="George">George</option>
				<option value="Michael">Michael</option>
			</select>
			<ul class="todo-list">
				<li><div class="checkbox"><label><input type="checkbox">Build Chat App</label></div></li>
			</ul>
		</div>
		<div id="todoControls">
			<input type="input" id="todoInput" class="form-control">
			<select id="assignee" class="form-control">
				<option value="Global">Global</option>
				<option value="Dave">Dave</option>
				<option value="George">George</option>
				<option value="Michael">Michael</option>
			</select>
			<button id="todoSubmit" type="button" class="btn btn-primary">Send</button>
		</div>
		</div>
	</div>
<%- include footer %>