		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="scripts/html5shiv.js"></script>
		<script src="scripts/modernizr-2.7.1.js"></script>
		<script src="scripts/jquery-2.1.0.min.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/todo.js"></script>
		<script src="scripts/script.js"></script>
	</body>
</html>