<%- include header %>
			<div id="login">
				<form id="login-form" action="/login" method="post" class="form-horizontal">
					<div class="control-group">
						<input type="text" name="username" placeholder="Username" class="input-xlarge uname"/>
					</div>
					<div class="control-group">
						<input type="password" name="password" placeholder="Password" class="input-xlarge"/>
					</div>
					<button class="btn btn-primary create-button" type="submit">Submit</button>
				</form>
			</div>
<% include footer %>