<%- include header %>
	<div class="col-sm-12">
		<div id="signup">
			<form id="signup-form" action="/signup" method="post">
				<div class="form-group">
					<input type="text" name="username" placeholder="Username" class="form-control uname"/><span id="usernameFeedback"></span>
				</div>
				<div class="form-group">
					<input type="text" name="email" placeholder="Email" class="form-control email"/><span id="emailFeedback"></span>
				</div>
				<div class="form-group">
					<input type="password" name="password" placeholder="Password" class="form-control password"/><span id="passwordFeedback"></span>
				</div>
				<div class="form-group">
					<input type="password" name="password2" placeholder="Re-Type Password" class="form-control password2"/><span id="password2Feedback"></span>
				</div>
				<div class="form-group">
					<button class="btn btn-primary create-button" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
<% include footer %>