<html lang="en" ng-app="todoApp">
	<head>
		<meta charset="utf-8">
		<title>Node Chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="view-container">
			<div ng-view class="view-frame"></div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="scripts/html5shiv.js"></script>
		<script src="scripts/modernizr-2.7.1.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-resource.min.js"></script>
		<script src="scripts/angular-route.min.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/services.js"></script>
		<script src="scripts/controllers.js"></script>
		<script src="scripts/filters.js"></script>
		<!-- <script src="scripts/directives.js"></script> -->
		<!-- <script src="scripts/script.js"></script> -->
	</body>
</html>