/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../../sass/screen.scss */
.form-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

/* line 14, ../../sass/screen.scss */
.chat-wrap {
  border: 3px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin: 20px 0;
  overflow-y: scroll;
  width: 100%;
}
/* line 21, ../../sass/screen.scss */
.chat-wrap #chatEntries {
  padding: 0 10px;
}
/* line 24, ../../sass/screen.scss */
.chat-wrap .username {
  font-weight: 500;
  color: #b30000;
}

/* line 29, ../../sass/screen.scss */
.chat-controls {
  padding-left: 3px;
}

/* line 32, ../../sass/screen.scss */
.todo-wrap {
  height: 200px;
  margin: 20px 0;
}
/* line 35, ../../sass/screen.scss */
.todo-wrap .todo-list {
  height: 166px;
  overflow-y: scroll;
}
/* line 38, ../../sass/screen.scss */
.todo-wrap .todo-list ul {
  list-style: none;
  padding: 0;
}
