/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../../sass/screen.scss */
.form-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

/* line 14, ../../sass/screen.scss */
input + .feedback {
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

/* line 15, ../../sass/screen.scss */
.ng-invalid + .feedback {
  background-color: red;
}

/* line 16, ../../sass/screen.scss */
.ng-valid + .feedback {
  background-color: green;
}

/* line 18, ../../sass/screen.scss */
.chat-wrap {
  border: 3px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin: 20px 0;
  overflow-y: scroll;
  width: 100%;
}
/* line 25, ../../sass/screen.scss */
.chat-wrap #chatEntries {
  padding: 0 10px;
}
/* line 28, ../../sass/screen.scss */
.chat-wrap .username {
  font-weight: 500;
  color: #b30000;
}

/* line 33, ../../sass/screen.scss */
.chat-controls {
  padding-left: 3px;
}

/* line 36, ../../sass/screen.scss */
.todo-wrap {
  height: 200px;
  margin: 20px 0;
}
/* line 39, ../../sass/screen.scss */
.todo-wrap .todo-list {
  height: 166px;
  overflow-y: scroll;
}
/* line 42, ../../sass/screen.scss */
.todo-wrap .todo-list ul {
  list-style: none;
  padding: 0;
}
/* line 45, ../../sass/screen.scss */
.todo-wrap .todo-list ul .assignee {
  color: grey;
}
/* line 46, ../../sass/screen.scss */
.todo-wrap .todo-list ul .complete {
  color: grey;
}
/* line 47, ../../sass/screen.scss */
.todo-wrap .todo-list ul .delete {
  background-color: red;
  cursor: pointer;
  float: right;
  height: 20px;
  width: 20px;
}
