
@import "partials/base";

.todo-wrap {
	height: 200px;
	margin: 20px 0;
	.todo-list {
		height: 166px;
		overflow-y: scroll;
		ul {
			list-style: none;
			padding: 0;
			.complete { color: grey; }
			.assignee { color: $secondary; }
			.delete {
				background-color: $tertiary;
				cursor: pointer;
				float: right;
				height: 20px;
				width: 20px;
			}
		}
	}
}