<div class="chat container">
	<div class="col-sm-12">
		<h1>Chat</h1>
	</div>
	<div class="col-sm-8">
		<div class="chat-wrap" id="chat-wrap">
			<div id="chatEntries">
				<div class="message" ng-repeat="message in messages | orderBy: '_id'"><p><span class="username">{{message.usr}}</span> : <span class="message">{{message.txt}}</span></p></div>
			</div>
		</div>
		<form ng-submit="sendMessage()" id="chatControls" class="chat-controls">
			<input type="input" ng-model="messageInput" id="messageInput" class="form-control">
			<input id="msgSubmit" type="submit" class="btn btn-primary" value="Send">
		</form>
	</div>
	<div class="col-sm-4">
		<div class="todo-wrap">
			<select ng-model="todoDisplay.assignee" class="form-control">
				<option value="">Global</option>
				<option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
			</select>
			<select ng-model="todoDisplay.day" class="form-control">
				<option value="today" ng-selected>Today</option>
				<option value="yesterday">Yesterday</option>
			</select>
			<div class="todo-list">
				<ul>
					<li ng-repeat="todo in todos | TodoFilter:todoDisplay.assignee:todoDisplay.day | orderBy:['complete', 'assignee']"><div class="checkbox"><label ng-class="{complete: todo.complete}"><input type="checkbox" ng-click="toggleTodo(todo._id)" ng-checked="{{todo.complete}}">{{todo.todo}} | <span class='assignee'>{{todo.assignee}}</span></label><div class="delete" ng-click="deleteTodo(todo._id)"></div></div></li>
				</ul>
			</div>
		</div>
		<form ng-submit="createTodo()" id="todoControls">
			<input type="input" ng-model="todoText" class="form-control">
			<select ng-model="todoAssignee" class="form-control">
				<option value="">Global</option>
				<option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
			</select>
			<input type="submit" class="btn btn-primary" value="Submit">
		</form>
		</div>
	</div>
</div>
<div>
	<audio id="notification" preload="auto">
		<source src="audio/notification.mp3">
		Your browser does not support the <code>audio</code> element.
	</audio>
</div>